
@{
    ViewBag.Title = "Index";
}
<link href="~/css/ViewDocument.css" rel="stylesheet" />

<center>
    <div><h1 class="title">Please Select Language</h1></div><br />
    <div class="language">
        <a href="#" onclick="window.open('/ViewDocument/OpenPDF?ln=ar', '_blank');"><div id="arabic" class="btnlng">Arabic</div></a>
        <a href="#" onclick="window.open('/ViewDocument/OpenPDF?ln=en', '_blank');"><div id="english" class="btnlng">English</div></a>
    </div>
</center>

<div class="clear"></div>


